    {% include scripts.html %}
    <footer class="brand-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header no-border">
              <h4 class="text-center font-heavy text-uppercase">
                Request for consultation
              </h4>
            </div><!-- .page-header -->

            <!-- form - consultation -->
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                {% include components/forms/consultation.html %}
              </div>
            </div>

          </div><!-- .col-md-6 -->

          <hr class="hidden-lg" style="border-width: 5px;"/>

          <div class="col-md-6">
            <div class="page-header no-border">
              <h4 class="text-center font-heavy text-uppercase">
                Never miss an update
              </h4>
            </div><!-- .page-header -->

            <!-- form - subscription -->
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                {% include components/forms/subscription.html %}
              </div>
            </div>

          </div><!-- .col-md-6 -->
        </div>
      </div>

      <hr style="border-width: 5px;"/>

      <div class="wrapper">
        <div class="page-header no-border">
          <h4 class="text-center font-heavy text-uppercase">
            Follow me on
          </h4>
        </div><!-- .page-header -->

        <div class="text-center">
          <div class="panel panel-default no-background no-border no-shadow no-margin">
            <div class="panel-body">
              <ul class="list-inline">
                <li>
                  <a class="link-inverse" href="{{ site.brand.social.instagram }}">
                    <i class="fa fa-fw fa-3x fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a class="link-inverse" href="{{ site.brand.social.facebook }}">
                    <i class="fa fa-fw fa-3x fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a class="link-inverse" href="{{ site.brand.social.twitter }}">
                    <i class="fa fa-fw fa-3x fa-twitter"></i>
                  </a>
                </li>
              </ul><!-- .list-inline -->
            </div><!-- .panel-body -->
          </div><!-- .panel -->

          <div class="panel panel-default no-background no-border no-shadow no-margin">
            <div class="panel-body">
              <!-- nav -->
              <ul class="list-inline">
                {% for link in site.data.navbar.links %}
                <li>
                  <a class="link-inverse" href="{{ link.url }}">
                    <div class="text-uppercase">
                      {{ link.title }}
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- copyright -->
      <div class="copyright">
        <div class="container">
          <div class="panel panel-default no-background no-border no-shadow no-margin">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-left text-md-center">
                    <small>
                      All rights reserved &copy; <span class="copyright-date"></span> -
                        <a class="link-inverse" href="{{ site.baseurl }}">{{ site.brand.name }}</a>
                    </small>
                  </div>
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                  <div class="text-right text-md-center">
                    <small>
                      Proudly powered by <a class="link-inverse text-uppercase" href="http://syiree.com" target="_blank">Syiree</a>
                    </small>
                  </div>
                </div><!-- .col-md-6 -->
              </div><!-- .row -->
            </div><!-- .panel-body -->
          </div><!-- .panel -->
        </div><!-- .container -->
      </div><!-- .copyright -->
    </footer>
    {% include components/modals/info.html %}
  </body>
</html>
