.color-primary {
  color: $color-primary !important;
}

a {
  text-decoration: none !important;
}

.brand-bg {
  background-color: $brand-bgcolor;
  color: $brand-bg-color;
}

.brand-bg-accent {
  background-color: $brand-bgcolor-accent !important;
  color: $brand-bg-accent-color !important;
}

.background-primary {
  background-color: $brand-bgcolor;
  color: $brand-bg-color;

  a {
    color: $color-accent !important;

    &:hover {
      color: $color-accent-dark !important;
    }
  }
}

input, textarea{
    background-color: $color-accent !important;
    color: $color-primary !important;
    border-color: $color-primary !important;
}

.background-accent {
  background-color: $brand-bgcolor-accent !important;
  color: $brand-bg-accent-color !important;

  a {
    color: $color-primary !important;

    &:hover {
      color: $color-primary-dark !important;
    }
  }
}

.brand-bg-inverse {
  background-color: $brand-bgcolor-inverse;
}

.color-brand {
  color: $color-primary;
}

.border-brand {
  border-color: $color-primary;
}

.link-inverse {
  color: $color-inverse;

  &:hover {
    color: $color-inverse-dark;
  }
}
