<div class="modal fade modal-subscription">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header no-border">
        <button
          class="close"
          data-dismiss="modal">
          <i class="fa fa-fw fa-close"></i>
        </button>
      </div>
      <div class="modal-body no-padding">
        <div class="page-header no-border">
          <h1 class="text-center font-heavy text-uppercase">
            Hey, let&rsquo;s keep in touch!
          </h1>
        </div><!-- .page-header -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            {% include components/forms/subscription.html %}
          </div><!-- .col (3 - 6 - 3) -->
        </div><!-- .row -->
      </div><!-- .modal-body -->
    </div><!-- .modal-content -->
  </div>
</div>
