<form role="form" data-toggle="validator" class="fcontact" style="color: #727272;">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Name</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <!-- formspree.io option -->
        <label for="_replyto" class="control-label font-light">Email</label>
        <input
          class="form-control"
          name="_replyto"
          data-error="Invalid Email address."
          type="email"
          required/>
        <div class="help-block with-errors"></div>
        <!-- end formspree.io option -->
      </div><!-- .form-group -->
    </div><!-- .col-md-6 -->
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Phone</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Age</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div><!-- .col-md-6 -->
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Occupation</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
  </div><!-- .row -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Describe your goals as they pertain to working with a trainer.
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Are you currently excercising? List type of Activities. Days / Weeks & Minutes / Day.
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      How long have you been excercising regularly?
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <hr style="border: 3px #F82830 solid"/>

  <div class="page-header no-margin">
    <h4 class="font-bold">
      Do you know the following information?
    </h4>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Resting Heart Rate</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Blood Pressure</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div><!-- .col-md-6 -->
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Body Fat (%)</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
  </div><!-- .row -->

  <hr style="border: 3px #F82830 solid"/>

  <div class="page-header no-margin">
    <h4 class="font-bold">
      Do you have any significant medical corners that would impact your ability
      to exercise?
    </h4>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Cardiovascular Diseases</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <!-- formspree.io option -->
        <label for="_replyto" class="control-label font-light">Stroke</label>
        <input
          class="form-control"
          name="_replyto"
          data-error="Invalid Email address."
          type="email"
          required/>
        <div class="help-block with-errors"></div>
        <!-- end formspree.io option -->
      </div><!-- .form-group -->
    </div><!-- .col-md-6 -->
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Diabetes</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div>
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="name" class="control-label font-light">Hypertension</label>
        <input class="form-control" name="name" type="text" required/>
        <div class="help-block with-errors"></div>
      </div><!-- .form-group -->
    </div><!-- .col-md-6 -->
  </div><!-- .row -->

  <div class="form-group has-feedback">
    <label for="name" class="control-label font-light">
      Do you smoke? If yes, how long?
    </label>
    <input class="form-control" name="name" type="text" required/>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="name" class="control-label font-light">
      Date of last Doctor Visit / Physical?
    </label>
    <input class="form-control" name="name" type="text" required/>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <hr style="border: 3px #F82830 solid"/>

  <div class="page-header no-margin">
    <h4 class="font-bold">
      Muscular Skeletal Issues
    </h4>
  </div>

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Feet / Ankle
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Knees
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Hips
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Back / Spine
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Shoulders
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Elbow / Wrist
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Are you currently taking any medications?
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group has-feedback">
    <label for="message" class="control-label font-light">
      Have you recently been injured or undergone sugergy? Explain.
    </label>
    <textarea rows="5" class="form-control" name="message" required></textarea>
    <div class="help-block with-errors"></div>
  </div><!-- .form-group -->

  <div class="form-group">
    <div class="text-center">
      <button class="btn btn-accent" type="submit">
        <div class="text-uppercase font-bold">
          Proceed
        </div>
      </button>
    </div>
  </div><!-- .form-group -->
  <!-- formspree.io options -->
  <input type="hidden" name="_subject" value="New Message | {{ site.brand.name }} Website">
  <input type="text" name="_gotcha" style="display:none"/>
  <!-- end formspree.io options -->
</form><!-- form -->
