<form role="form" data-toggle="validator" class="fsubscription">
  <div class="form-group has-feedback">
    <label for="Name" class="control-label font-light">Name</label>
    <input class="form-control" name="Name" type="text" required/>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group has-feedback">
    <!-- formspree.io option -->
    <label for="Email" class="control-label font-light">Email</label>
    <input
      class="form-control"
      name="Email"
      data-error="Invalid Email address."
      type="email"
      required/>
    <div class="help-block with-errors"></div>
    <!-- end formspree.io option -->
  </div>
  <div class="form-group">
    <div class="text-center">
      <button class="btn btn-accent" type="submit">
        <div class="text-uppercase font-bold">
          Subscribe
        </div>
      </button>
    </div>
  </div>
  <!-- formspree.io options -->
  <input type="hidden" name="Subject" value="New Subscription | {{ site.brand.name }} Website">
  <input type="hidden" name="_subject" value="New Subscription | {{ site.brand.name }} Website">
  <input type="text" name="_gotcha" style="display:none"/>
  <!-- end formspree.io options -->
</form>
